# Generated by scripts/sync-gateway.mjs from the gateway source; do not edit by hand.
openapi: 3.1.0
info:
  title: Cerebrus Pulse
  version: 1.4.0
  summary: Pay-per-call crypto derivatives intelligence for AI agents.
  description: >-
    Real-time Hyperliquid perpetuals intelligence. No account or API key: each paid call is settled in USDC over the
    x402 protocol (v2), on Base or Solana. Generated by the docs site from the gateway's payment routes and real engine
    output; the gateway serves the same surface at https://api.cerebruspulse.xyz/openapi.json.
  license:
    name: Proprietary
servers:
  - url: https://api.cerebruspulse.xyz
externalDocs:
  url: https://cerebruspulse.xyz
x-payment:
  protocol: x402
  version: 2
  header: PAYMENT-SIGNATURE
  networks:
    - eip155:8453
    - solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp
  asset: USDC
paths:
  /arb:
    get:
      summary: Market Stress Index from cross-chain arbitrage scans
      description: >-
        Market Stress Index from cross-chain arbitrage scans.


        Paid endpoint: 0.02 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/arb
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          description: 1-50 (default 10)
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '400':
          description: >-
            Invalid input (bad symbol, timeframe or integer parameter), refused before any price is quoted; or the
            engine could not serve the request (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment required. x402 v2 terms are in the PAYMENT-REQUIRED header; retry with PAYMENT-SIGNATURE.
          headers:
            PAYMENT-REQUIRED:
              description: base64 x402 v2 payment terms
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service disabled, payment system unavailable, or the upstream data feed is missing or stale. No price is
            quoted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Analysis timed out (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-price-usd: 0.02
      x-payment-protocol: x402
  /basis/{coin}:
    get:
      summary: Hyperliquid perp premium to its oracle, plus oracle vs Chainlink spot
      description: >-
        Hyperliquid perp premium to its oracle, plus oracle vs Chainlink spot.


        Paid endpoint: 0.02 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/basis
      parameters:
        - name: coin
          in: path
          required: true
          schema:
            type: string
          description: Perpetual market symbol (e.g. BTC, ETH, SOL); see /coins
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type:
                      - string
                      - 'null'
                  coin:
                    type:
                      - string
                      - 'null'
                  market_symbol:
                    type:
                      - string
                      - 'null'
                  price_unit:
                    type:
                      - string
                      - 'null'
                  timestamp_iso:
                    type:
                      - string
                      - 'null'
                  basis:
                    type: object
                    properties:
                      hl_mark_px:
                        type:
                          - number
                          - 'null'
                      hl_oracle_px:
                        type:
                          - number
                          - 'null'
                      chainlink_spot_px:
                        type:
                          - number
                          - 'null'
                      perp_premium_bps:
                        type:
                          - number
                          - 'null'
                      premium_index_bps:
                        type:
                          - number
                          - 'null'
                      oracle_divergence_bps:
                        type:
                          - number
                          - 'null'
                      basis_bps:
                        type:
                          - number
                          - 'null'
                      basis_pct:
                        type:
                          - number
                          - 'null'
                      direction:
                        type:
                          - string
                          - 'null'
                      signal:
                        type:
                          - string
                          - 'null'
                      interpretation:
                        type:
                          - string
                          - 'null'
                  meta:
                    type: object
                    properties:
                      provider:
                        type:
                          - string
                          - 'null'
                      offering:
                        type:
                          - string
                          - 'null'
                      execution_ms:
                        type:
                          - number
                          - 'null'
                      basis_definition:
                        type:
                          - string
                          - 'null'
                      deprecated:
                        type: object
                        properties:
                          basis.basis_bps:
                            type:
                              - string
                              - 'null'
                          basis.basis_pct:
                            type:
                              - string
                              - 'null'
                      data_age_seconds:
                        type:
                          - number
                          - 'null'
                      chainlink_data_age_seconds:
                        type:
                          - number
                          - 'null'
                      chainlink_round_age_seconds: {}
                      chainlink_feed_network:
                        type:
                          - string
                          - 'null'
                      hl_source:
                        type:
                          - string
                          - 'null'
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type:
                                - string
                                - 'null'
                            url:
                              type:
                                - string
                                - 'null'
              example:
                endpoint: basis
                coin: BTC
                market_symbol: BTC
                price_unit: 1 BTC
                timestamp_iso: '2026-09-24T17:05:00Z'
                basis:
                  hl_mark_px: 84517
                  hl_oracle_px: 84539
                  chainlink_spot_px: 84501.01946422
                  perp_premium_bps: -2.6
                  premium_index_bps: -4.61
                  oracle_divergence_bps: 4.49
                  basis_bps: 4.49
                  basis_pct: 0.0449
                  direction: hl_discount
                  signal: neutral
                  interpretation: 'Perp trades at its oracle price: no significant premium'
                meta:
                  provider: Cerebrus Pulse
                  offering: pulse_basis
                  execution_ms: 0
                  basis_definition: >-
                    perp_premium_bps: Hyperliquid mark vs its oracle (perp premium), which direction, signal and
                    interpretation describe; oracle_divergence_bps: Hyperliquid oracle vs Chainlink spot, which
                    basis_bps has always carried
                  deprecated:
                    basis.basis_bps: >-
                      the Hyperliquid oracle vs Chainlink spot gap, not the perp premium; read
                      basis.oracle_divergence_bps, or basis.perp_premium_bps for the premium
                    basis.basis_pct: basis.basis_bps / 100; read basis.oracle_divergence_bps
                  data_age_seconds: 60
                  chainlink_data_age_seconds: 55.6
                  chainlink_round_age_seconds: null
                  chainlink_feed_network: arbitrum
                  hl_source: mark_and_oracle
                  sources:
                    - name: Hyperliquid
                      url: https://hyperliquid.xyz
                    - name: Chainlink Data Feeds (Arbitrum One)
                      url: https://data.chain.link
        '400':
          description: >-
            Invalid input (bad symbol, timeframe or integer parameter), refused before any price is quoted; or the
            engine could not serve the request (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment required. x402 v2 terms are in the PAYMENT-REQUIRED header; retry with PAYMENT-SIGNATURE.
          headers:
            PAYMENT-REQUIRED:
              description: base64 x402 v2 payment terms
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service disabled, payment system unavailable, or the upstream data feed is missing or stale. No price is
            quoted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Analysis timed out (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-price-usd: 0.02
      x-payment-protocol: x402
  /bundle/{coin}:
    get:
      summary: /pulse output plus 24h funding statistics and sentiment in one call
      description: >-
        /pulse output plus 24h funding statistics and sentiment in one call.


        Paid endpoint: 0.05 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/bundle
      parameters:
        - name: coin
          in: path
          required: true
          schema:
            type: string
          description: Perpetual market symbol (e.g. BTC, ETH, SOL); see /coins
        - name: timeframes
          in: query
          required: false
          schema:
            type: string
            default: 1h,4h
          description: Comma-separated, from 5m,15m,1h,4h,1d,1w (default 1h,4h)
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type:
                      - string
                      - 'null'
                  coin:
                    type:
                      - string
                      - 'null'
                  market_symbol:
                    type:
                      - string
                      - 'null'
                  price_unit:
                    type:
                      - string
                      - 'null'
                  timestamp_iso:
                    type:
                      - string
                      - 'null'
                  price:
                    type: object
                    properties:
                      current:
                        type:
                          - number
                          - 'null'
                  timeframes:
                    type: object
                    properties:
                      1h:
                        type: object
                        properties:
                          indicators:
                            type: object
                            properties:
                              rsi_14:
                                type:
                                  - number
                                  - 'null'
                              rsi_zone:
                                type:
                                  - string
                                  - 'null'
                              atr_14:
                                type:
                                  - number
                                  - 'null'
                              atr_pct:
                                type:
                                  - number
                                  - 'null'
                              ema_20:
                                type:
                                  - number
                                  - 'null'
                              ema_50:
                                type:
                                  - number
                                  - 'null'
                              ema_200:
                                type:
                                  - number
                                  - 'null'
                              vwap_20:
                                type:
                                  - number
                                  - 'null'
                              zscore_100:
                                type:
                                  - number
                                  - 'null'
                              bollinger:
                                type: object
                                properties:
                                  upper:
                                    type:
                                      - number
                                      - 'null'
                                  middle:
                                    type:
                                      - number
                                      - 'null'
                                  lower:
                                    type:
                                      - number
                                      - 'null'
                                  width_pct:
                                    type:
                                      - number
                                      - 'null'
                                  position_pct:
                                    type:
                                      - number
                                      - 'null'
                              trend:
                                type: object
                                properties:
                                  direction:
                                    type:
                                      - number
                                      - 'null'
                                  label:
                                    type:
                                      - string
                                      - 'null'
                                  ema_stack:
                                    type:
                                      - string
                                      - 'null'
                          candle_freshness_seconds:
                            type:
                              - number
                              - 'null'
                          last_closed_candle_time:
                            type:
                              - string
                              - 'null'
                          stale:
                            type:
                              - boolean
                              - 'null'
                      4h:
                        type: object
                        properties:
                          indicators:
                            type: object
                            properties:
                              rsi_14:
                                type:
                                  - number
                                  - 'null'
                              rsi_zone:
                                type:
                                  - string
                                  - 'null'
                              atr_14:
                                type:
                                  - number
                                  - 'null'
                              atr_pct:
                                type:
                                  - number
                                  - 'null'
                              ema_20:
                                type:
                                  - number
                                  - 'null'
                              ema_50:
                                type:
                                  - number
                                  - 'null'
                              ema_200:
                                type:
                                  - number
                                  - 'null'
                              vwap_20:
                                type:
                                  - number
                                  - 'null'
                              zscore_100:
                                type:
                                  - number
                                  - 'null'
                              bollinger:
                                type: object
                                properties:
                                  upper:
                                    type:
                                      - number
                                      - 'null'
                                  middle:
                                    type:
                                      - number
                                      - 'null'
                                  lower:
                                    type:
                                      - number
                                      - 'null'
                                  width_pct:
                                    type:
                                      - number
                                      - 'null'
                                  position_pct:
                                    type:
                                      - number
                                      - 'null'
                              trend:
                                type: object
                                properties:
                                  direction:
                                    type:
                                      - number
                                      - 'null'
                                  label:
                                    type:
                                      - string
                                      - 'null'
                                  ema_stack:
                                    type:
                                      - string
                                      - 'null'
                          candle_freshness_seconds:
                            type:
                              - number
                              - 'null'
                          last_closed_candle_time:
                            type:
                              - string
                              - 'null'
                          stale:
                            type:
                              - boolean
                              - 'null'
                  confluence:
                    type: object
                    properties:
                      score:
                        type:
                          - number
                          - 'null'
                      bias:
                        type:
                          - string
                          - 'null'
                      signals:
                        type: object
                        properties:
                          rsi:
                            type:
                              - string
                              - 'null'
                          trend:
                            type:
                              - string
                              - 'null'
                          bollinger:
                            type:
                              - string
                              - 'null'
                          zscore:
                            type:
                              - string
                              - 'null'
                      bullish_count:
                        type:
                          - number
                          - 'null'
                      bearish_count:
                        type:
                          - number
                          - 'null'
                      per_timeframe:
                        type: object
                        properties:
                          1h:
                            type: object
                            properties:
                              score:
                                type:
                                  - number
                                  - 'null'
                              bull_fraction:
                                type:
                                  - number
                                  - 'null'
                              family_scores:
                                type: object
                                properties:
                                  trend_following:
                                    type:
                                      - number
                                      - 'null'
                                  mean_reversion:
                                    type:
                                      - number
                                      - 'null'
                              bias:
                                type:
                                  - string
                                  - 'null'
                              signals:
                                type: object
                                properties:
                                  rsi:
                                    type:
                                      - string
                                      - 'null'
                                  trend:
                                    type:
                                      - string
                                      - 'null'
                                  bollinger:
                                    type:
                                      - string
                                      - 'null'
                                  zscore:
                                    type:
                                      - string
                                      - 'null'
                              bullish_count:
                                type:
                                  - number
                                  - 'null'
                              bearish_count:
                                type:
                                  - number
                                  - 'null'
                          4h:
                            type: object
                            properties:
                              score:
                                type:
                                  - number
                                  - 'null'
                              bull_fraction:
                                type:
                                  - number
                                  - 'null'
                              family_scores:
                                type: object
                                properties:
                                  trend_following:
                                    type:
                                      - number
                                      - 'null'
                                  mean_reversion:
                                    type:
                                      - number
                                      - 'null'
                              bias:
                                type:
                                  - string
                                  - 'null'
                              signals:
                                type: object
                                properties:
                                  rsi:
                                    type:
                                      - string
                                      - 'null'
                                  trend:
                                    type:
                                      - string
                                      - 'null'
                                  bollinger:
                                    type:
                                      - string
                                      - 'null'
                                  zscore:
                                    type:
                                      - string
                                      - 'null'
                              bullish_count:
                                type:
                                  - number
                                  - 'null'
                              bearish_count:
                                type:
                                  - number
                                  - 'null'
                      aligned:
                        type:
                          - boolean
                          - 'null'
                      alignment_score:
                        type:
                          - number
                          - 'null'
                      bull_fraction:
                        type:
                          - number
                          - 'null'
                      family_scores:
                        type: object
                        properties:
                          trend_following:
                            type:
                              - number
                              - 'null'
                          mean_reversion:
                            type:
                              - number
                              - 'null'
                      primary_timeframe:
                        type:
                          - string
                          - 'null'
                      score_type:
                        type:
                          - string
                          - 'null'
                      validated:
                        type:
                          - boolean
                          - 'null'
                      definition:
                        type:
                          - string
                          - 'null'
                  derivatives:
                    type: object
                    properties:
                      funding_rate:
                        type:
                          - number
                          - 'null'
                      funding_annualized_pct:
                        type:
                          - number
                          - 'null'
                      funding_interval_hours:
                        type:
                          - number
                          - 'null'
                      open_interest:
                        type:
                          - number
                          - 'null'
                      impact_bid:
                        type:
                          - number
                          - 'null'
                      impact_ask:
                        type:
                          - number
                          - 'null'
                      impact_spread_bps:
                        type:
                          - number
                          - 'null'
                      spread_bps:
                        type:
                          - number
                          - 'null'
                  funding_24h:
                    type: object
                    properties:
                      coin:
                        type:
                          - string
                          - 'null'
                      records:
                        type:
                          - number
                          - 'null'
                      lookback_hours:
                        type:
                          - number
                          - 'null'
                      avg_funding_rate:
                        type:
                          - number
                          - 'null'
                      annualized_pct:
                        type:
                          - number
                          - 'null'
                      funding_interval_hours:
                        type:
                          - number
                          - 'null'
                      current:
                        type:
                          - number
                          - 'null'
                      min:
                        type:
                          - number
                          - 'null'
                      max:
                        type:
                          - number
                          - 'null'
                      positive_pct:
                        type:
                          - number
                          - 'null'
                  sentiment:
                    type: object
                    properties:
                      label:
                        type:
                          - string
                          - 'null'
                      as_of:
                        type:
                          - number
                          - 'null'
                      composite_method:
                        type:
                          - string
                          - 'null'
                      sources_live:
                        type:
                          - string
                          - 'null'
                      live_sources:
                        type: array
                        items:
                          type:
                            - string
                            - 'null'
                  regime:
                    type: object
                    properties:
                      current:
                        type:
                          - string
                          - 'null'
                      as_of:
                        type:
                          - number
                          - 'null'
                  meta:
                    type: object
                    properties:
                      provider:
                        type:
                          - string
                          - 'null'
                      offering:
                        type:
                          - string
                          - 'null'
                      execution_ms:
                        type:
                          - number
                          - 'null'
                      data_age_seconds:
                        type:
                          - number
                          - 'null'
                      as_of:
                        type: object
                        properties:
                          market_data:
                            type:
                              - string
                              - 'null'
                          candles_1h:
                            type:
                              - string
                              - 'null'
                          candles_4h:
                            type:
                              - string
                              - 'null'
                          funding:
                            type:
                              - string
                              - 'null'
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type:
                                - string
                                - 'null'
                            url:
                              type:
                                - string
                                - 'null'
              example:
                endpoint: bundle
                coin: BTC
                market_symbol: BTC
                price_unit: 1 BTC
                timestamp_iso: '2026-09-24T17:05:00Z'
                price:
                  current: 84512.5
                timeframes:
                  1h:
                    indicators:
                      rsi_14: 49.16
                      rsi_zone: neutral
                      atr_14: 495.286126
                      atr_pct: 0.5881
                      ema_20: 84134.27882
                      ema_50: 84555.185241
                      ema_200: 82476.178645
                      vwap_20: 84001.13142
                      zscore_100: -0.173
                      bollinger:
                        upper: 84796.137043
                        middle: 84040.55
                        lower: 83284.962957
                        width_pct: 1.7981
                        position_pct: 0.6194
                      trend:
                        direction: 1
                        label: weak_bullish
                        ema_stack: mixed
                    candle_freshness_seconds: 300.8
                    last_closed_candle_time: '2026-09-24T17:00:00Z'
                    stale: false
                  4h:
                    indicators:
                      rsi_14: 47.17
                      rsi_zone: neutral
                      atr_14: 727.64216
                      atr_pct: 0.8715
                      ema_20: 84338.703076
                      ema_50: 82423.649073
                      ema_200: 77957.991913
                      vwap_20: 84859.417592
                      zscore_100: 1.1847
                      bollinger:
                        upper: 87855.263546
                        middle: 85270.85
                        lower: 82686.436454
                        width_pct: 6.0617
                        position_pct: 0.1557
                      trend:
                        direction: 1
                        label: weak_bullish
                        ema_stack: mixed
                    candle_freshness_seconds: 3900.8
                    last_closed_candle_time: '2026-09-24T16:00:00Z'
                    stale: false
                confluence:
                  score: 0.62
                  bias: bullish
                  signals:
                    rsi: neutral
                    trend: bullish
                    bollinger: neutral
                    zscore: neutral
                  bullish_count: 1
                  bearish_count: 0
                  per_timeframe:
                    1h:
                      score: 0.62
                      bull_fraction: 0.625
                      family_scores:
                        trend_following: 0.75
                        mean_reversion: 0.5
                      bias: bullish
                      signals:
                        rsi: neutral
                        trend: bullish
                        bollinger: neutral
                        zscore: neutral
                      bullish_count: 1
                      bearish_count: 0
                    4h:
                      score: 0.75
                      bull_fraction: 0.75
                      family_scores:
                        trend_following: 0.75
                        mean_reversion: 0.75
                      bias: bullish
                      signals:
                        rsi: neutral
                        trend: bullish
                        bollinger: bullish
                        zscore: neutral
                      bullish_count: 2
                      bearish_count: 0
                  aligned: true
                  alignment_score: 1
                  bull_fraction: 0.625
                  family_scores:
                    trend_following: 0.75
                    mean_reversion: 0.5
                  primary_timeframe: 1h
                  score_type: heuristic_vote_share
                  validated: false
                  definition: >-
                    score = bull_fraction = (bullish + 0.5*neutral) / votes on primary_timeframe; an unvalidated
                    heuristic, not a confidence or probability
                derivatives:
                  funding_rate: 0.0000125
                  funding_annualized_pct: 10.95
                  funding_interval_hours: 1
                  open_interest: 39370.3015
                  impact_bid: 84485.4
                  impact_ask: 84500
                  impact_spread_bps: 1.73
                  spread_bps: 1.73
                funding_24h:
                  coin: BTC
                  records: 23
                  lookback_hours: 24
                  avg_funding_rate: 0.0000081
                  annualized_pct: 7.09
                  funding_interval_hours: 1
                  current: 0.0000125
                  min: -0.00000723
                  max: 0.0000125
                  positive_pct: 82.6
                sentiment:
                  label: bullish
                  as_of: 1790269024.020345
                  composite_method: live_mean
                  sources_live: 5/8
                  live_sources:
                    - fear_greed
                    - news_vader
                    - onchain
                regime:
                  current: unknown
                  as_of: 0
                meta:
                  provider: Cerebrus Pulse
                  offering: pulse_bundle
                  execution_ms: 0
                  data_age_seconds: 60
                  as_of:
                    market_data: '2026-09-24T17:04:00Z'
                    candles_1h: '2026-09-24T17:00:00Z'
                    candles_4h: '2026-09-24T16:00:00Z'
                    funding: '2026-09-24T16:00:00Z'
                  sources:
                    - name: Hyperliquid
                      url: https://hyperliquid.xyz
                    - name: Crypto Fear & Greed Index by alternative.me
                      url: https://alternative.me/crypto/fear-and-greed-index/
                    - name: >-
                        News headlines from Cointelegraph, CoinDesk and Crypto News RSS feeds, scored for sentiment by
                        Cerebrus Pulse
                    - name: DefiLlama
                      url: https://defillama.com
                    - name: FRED, Federal Reserve Bank of St. Louis
                      url: https://fred.stlouisfed.org
                      notice: >-
                        This product uses the FRED® API but is not endorsed or certified by the Federal Reserve Bank of
                        St. Louis.
                    - name: CoinGecko
                      url: https://www.coingecko.com
                      notice: Powered by CoinGecko
        '400':
          description: >-
            Invalid input (bad symbol, timeframe or integer parameter), refused before any price is quoted; or the
            engine could not serve the request (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment required. x402 v2 terms are in the PAYMENT-REQUIRED header; retry with PAYMENT-SIGNATURE.
          headers:
            PAYMENT-REQUIRED:
              description: base64 x402 v2 payment terms
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Unknown coin. GET /coins lists the supported symbols.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service disabled, payment system unavailable, or the upstream data feed is missing or stale. No price is
            quoted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Analysis timed out (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-price-usd: 0.05
      x-payment-protocol: x402
  /cex-dex/{token}:
    get:
      summary: Coinbase vs DEX/Chainlink price divergence for one token
      description: >-
        Coinbase vs DEX/Chainlink price divergence for one token.


        Paid endpoint: 0.02 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/cex-dex
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
          description: Token symbol, e.g. ETH, BTC
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type:
                      - string
                      - 'null'
                  token:
                    type:
                      - string
                      - 'null'
                  timestamp_iso:
                    type:
                      - string
                      - 'null'
                  divergence:
                    type: object
                    properties:
                      cex_price:
                        type:
                          - number
                          - 'null'
                      dex_price:
                        type:
                          - number
                          - 'null'
                      dex_source:
                        type:
                          - string
                          - 'null'
                      spread_bps:
                        type:
                          - number
                          - 'null'
                      spread_pct:
                        type:
                          - number
                          - 'null'
                      direction:
                        type:
                          - string
                          - 'null'
                      interpretation:
                        type:
                          - string
                          - 'null'
                  meta:
                    type: object
                    properties:
                      provider:
                        type:
                          - string
                          - 'null'
                      offering:
                        type:
                          - string
                          - 'null'
                      execution_ms:
                        type:
                          - number
                          - 'null'
                      data_age_seconds:
                        type:
                          - number
                          - 'null'
                      refresh_interval_minutes:
                        type:
                          - number
                          - 'null'
                      cex_source:
                        type:
                          - string
                          - 'null'
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type:
                                - string
                                - 'null'
                            url:
                              type:
                                - string
                                - 'null'
              example:
                endpoint: cex-dex
                token: ETH
                timestamp_iso: '2026-09-24T16:59:05.418496+00:00'
                divergence:
                  cex_price: 2687.75
                  dex_price: 2686.6836
                  dex_source: chainlink
                  spread_bps: 4
                  spread_pct: 0.04
                  direction: cex_premium
                  interpretation: CEX trading at premium to DEX
                meta:
                  provider: Cerebrus Pulse
                  offering: pulse_cex_dex
                  execution_ms: 0
                  data_age_seconds: 355.4
                  refresh_interval_minutes: 5
                  cex_source: coinbase
                  sources:
                    - name: Coinbase Exchange
                      url: https://www.coinbase.com
                    - name: Chainlink Data Feeds (Arbitrum One)
                      url: https://data.chain.link
        '400':
          description: >-
            Invalid input (bad symbol, timeframe or integer parameter), refused before any price is quoted; or the
            engine could not serve the request (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment required. x402 v2 terms are in the PAYMENT-REQUIRED header; retry with PAYMENT-SIGNATURE.
          headers:
            PAYMENT-REQUIRED:
              description: base64 x402 v2 payment terms
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service disabled, payment system unavailable, or the upstream data feed is missing or stale. No price is
            quoted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Analysis timed out (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-price-usd: 0.02
      x-payment-protocol: x402
  /correlation:
    get:
      summary: BTC-alt correlation of 1h returns (30h, 7d or 30d window) with regime
      description: >-
        BTC-alt correlation of 1h returns (30h, 7d or 30d window) with regime.


        Paid endpoint: 0.05 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/correlation
      parameters:
        - name: window
          in: query
          required: false
          schema:
            type: string
            enum:
              - 30h
              - 7d
              - 30d
            default: 30h
          description: 'Window of 1h returns: 30h, 7d, 30d (default 30h)'
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type:
                      - string
                      - 'null'
                  timestamp_iso:
                    type:
                      - string
                      - 'null'
                  btc_correlation:
                    type: object
                    properties:
                      BTC:
                        type:
                          - number
                          - 'null'
                      ETH:
                        type:
                          - number
                          - 'null'
                      SOL: {}
                      DOGE:
                        type:
                          - number
                          - 'null'
                      XRP: {}
                      AVAX: {}
                      LINK: {}
                      ARB: {}
                      OP: {}
                      SUI: {}
                      NEAR: {}
                      INJ: {}
                      APT: {}
                      ADA: {}
                      PEPE: {}
                  correlation_stats:
                    type: object
                    properties:
                      ETH:
                        type: object
                        properties:
                          'n':
                            type:
                              - number
                              - 'null'
                          stderr:
                            type:
                              - number
                              - 'null'
                      DOGE:
                        type: object
                        properties:
                          'n':
                            type:
                              - number
                              - 'null'
                          stderr:
                            type:
                              - number
                              - 'null'
                  average_correlation:
                    type:
                      - number
                      - 'null'
                  regime:
                    type:
                      - string
                      - 'null'
                  sector_averages:
                    type: object
                    properties:
                      L1:
                        type:
                          - number
                          - 'null'
                      Meme:
                        type:
                          - number
                          - 'null'
                  meta:
                    type: object
                    properties:
                      provider:
                        type:
                          - string
                          - 'null'
                      offering:
                        type:
                          - string
                          - 'null'
                      execution_ms:
                        type:
                          - number
                          - 'null'
                      coins_analyzed:
                        type:
                          - number
                          - 'null'
                      window:
                        type:
                          - string
                          - 'null'
                      lookback_bars:
                        type:
                          - number
                          - 'null'
                      timeframe:
                        type:
                          - string
                          - 'null'
                      method:
                        type:
                          - string
                          - 'null'
                      lagging_coins:
                        type: array
                        items: {}
                      as_of:
                        type: object
                        properties:
                          candles_1h:
                            type:
                              - string
                              - 'null'
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type:
                                - string
                                - 'null'
                            url:
                              type:
                                - string
                                - 'null'
              example:
                endpoint: correlation
                timestamp_iso: '2026-09-24T17:05:00Z'
                btc_correlation:
                  BTC: 1
                  ETH: 0.9319
                  SOL: null
                  DOGE: 0.8839
                  XRP: null
                  AVAX: null
                  LINK: null
                  ARB: null
                  OP: null
                  SUI: null
                  NEAR: null
                  INJ: null
                  APT: null
                  ADA: null
                  PEPE: null
                correlation_stats:
                  ETH:
                    'n': 30
                    stderr: 0.0244
                  DOGE:
                    'n': 30
                    stderr: 0.0406
                average_correlation: 0.9079
                regime: CORRELATED
                sector_averages:
                  L1: 0.9319
                  Meme: 0.8839
                meta:
                  provider: Cerebrus Pulse
                  offering: pulse_correlation
                  execution_ms: 0
                  coins_analyzed: 3
                  window: 30h
                  lookback_bars: 30
                  timeframe: 1h
                  method: Pearson r of 1h returns joined on candle time; stderr = (1 - r^2) / sqrt(n - 1)
                  lagging_coins: []
                  as_of:
                    candles_1h: '2026-09-24T17:00:00Z'
                  sources:
                    - name: Hyperliquid
                      url: https://hyperliquid.xyz
        '400':
          description: >-
            Invalid input (bad symbol, timeframe or integer parameter), refused before any price is quoted; or the
            engine could not serve the request (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment required. x402 v2 terms are in the PAYMENT-REQUIRED header; retry with PAYMENT-SIGNATURE.
          headers:
            PAYMENT-REQUIRED:
              description: base64 x402 v2 payment terms
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service disabled, payment system unavailable, or the upstream data feed is missing or stale. No price is
            quoted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Analysis timed out (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-price-usd: 0.05
      x-payment-protocol: x402
  /depeg:
    get:
      summary: USDC peg status from the Chainlink oracle on Arbitrum
      description: >-
        USDC peg status from the Chainlink oracle on Arbitrum.


        Paid endpoint: 0.01 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/depeg
      parameters: []
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type:
                      - string
                      - 'null'
                  timestamp_iso:
                    type:
                      - string
                      - 'null'
                  usdc:
                    type: object
                    properties:
                      price_usd:
                        type:
                          - number
                          - 'null'
                      deviation_bps:
                        type:
                          - number
                          - 'null'
                      deviation_pct:
                        type:
                          - number
                          - 'null'
                      peg_status:
                        type:
                          - string
                          - 'null'
                      risk_level:
                        type:
                          - string
                          - 'null'
                      interpretation:
                        type:
                          - string
                          - 'null'
                  infrastructure:
                    type: object
                    properties:
                      arbitrum_sequencer:
                        type:
                          - string
                          - 'null'
                      chainlink_feeds_active:
                        type:
                          - number
                          - 'null'
                  meta:
                    type: object
                    properties:
                      provider:
                        type:
                          - string
                          - 'null'
                      offering:
                        type:
                          - string
                          - 'null'
                      execution_ms:
                        type:
                          - number
                          - 'null'
                      chainlink_data_age_seconds:
                        type:
                          - number
                          - 'null'
                      chainlink_round_age_seconds: {}
                      oracle_network:
                        type:
                          - string
                          - 'null'
                      feed_address:
                        type:
                          - string
                          - 'null'
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type:
                                - string
                                - 'null'
                            url:
                              type:
                                - string
                                - 'null'
              example:
                endpoint: depeg
                timestamp_iso: '2026-09-24T17:05:00Z'
                usdc:
                  price_usd: 0.99988061
                  deviation_bps: 1.19
                  deviation_pct: 0.0119
                  peg_status: HEALTHY
                  risk_level: low
                  interpretation: USDC trading within 10bps of peg — normal conditions
                infrastructure:
                  arbitrum_sequencer: up
                  chainlink_feeds_active: 38
                meta:
                  provider: Cerebrus Pulse
                  offering: pulse_depeg
                  execution_ms: 0
                  chainlink_data_age_seconds: 55.6
                  chainlink_round_age_seconds: null
                  oracle_network: arbitrum
                  feed_address: '0x50834F3163758fcC1Df9973b6e91f0F0F0434aD3'
                  sources:
                    - name: Chainlink Data Feeds (Arbitrum One)
                      url: https://data.chain.link
        '400':
          description: >-
            Invalid input (bad symbol, timeframe or integer parameter), refused before any price is quoted; or the
            engine could not serve the request (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment required. x402 v2 terms are in the PAYMENT-REQUIRED header; retry with PAYMENT-SIGNATURE.
          headers:
            PAYMENT-REQUIRED:
              description: base64 x402 v2 payment terms
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service disabled, payment system unavailable, or the upstream data feed is missing or stale. No price is
            quoted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Analysis timed out (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-price-usd: 0.01
      x-payment-protocol: x402
  /funding/{coin}:
    get:
      summary: Funding rate statistics over a 1-168 hour lookback (hourly rates)
      description: >-
        Funding rate statistics over a 1-168 hour lookback (hourly rates).


        Paid endpoint: 0.01 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/funding
      parameters:
        - name: coin
          in: path
          required: true
          schema:
            type: string
          description: Perpetual market symbol (e.g. BTC, ETH, SOL); see /coins
        - name: lookback_hours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 168
            default: 24
          description: 1-168 (default 24)
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  coin:
                    type:
                      - string
                      - 'null'
                  records:
                    type:
                      - number
                      - 'null'
                  lookback_hours:
                    type:
                      - number
                      - 'null'
                  avg_funding_rate:
                    type:
                      - number
                      - 'null'
                  annualized_pct:
                    type:
                      - number
                      - 'null'
                  funding_interval_hours:
                    type:
                      - number
                      - 'null'
                  current:
                    type:
                      - number
                      - 'null'
                  min:
                    type:
                      - number
                      - 'null'
                  max:
                    type:
                      - number
                      - 'null'
                  positive_pct:
                    type:
                      - number
                      - 'null'
                  endpoint:
                    type:
                      - string
                      - 'null'
                  meta:
                    type: object
                    properties:
                      provider:
                        type:
                          - string
                          - 'null'
                      offering:
                        type:
                          - string
                          - 'null'
                      execution_ms:
                        type:
                          - number
                          - 'null'
                      as_of:
                        type: object
                        properties:
                          funding:
                            type:
                              - string
                              - 'null'
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type:
                                - string
                                - 'null'
                            url:
                              type:
                                - string
                                - 'null'
              example:
                coin: BTC
                records: 23
                lookback_hours: 24
                avg_funding_rate: 0.0000081
                annualized_pct: 7.09
                funding_interval_hours: 1
                current: 0.0000125
                min: -0.00000723
                max: 0.0000125
                positive_pct: 82.6
                endpoint: funding
                meta:
                  provider: Cerebrus Pulse
                  offering: pulse_funding
                  execution_ms: 0
                  as_of:
                    funding: '2026-09-24T16:00:00Z'
                  sources:
                    - name: Hyperliquid
                      url: https://hyperliquid.xyz
        '400':
          description: >-
            Invalid input (bad symbol, timeframe or integer parameter), refused before any price is quoted; or the
            engine could not serve the request (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment required. x402 v2 terms are in the PAYMENT-REQUIRED header; retry with PAYMENT-SIGNATURE.
          headers:
            PAYMENT-REQUIRED:
              description: base64 x402 v2 payment terms
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Unknown coin. GET /coins lists the supported symbols.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service disabled, payment system unavailable, or the upstream data feed is missing or stale. No price is
            quoted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Analysis timed out (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-price-usd: 0.01
      x-payment-protocol: x402
  /liquidations/{coin}:
    get:
      summary: Modelled liquidation zones by leverage tier, with cascade risk
      description: >-
        Modelled liquidation zones by leverage tier, with cascade risk.


        Paid endpoint: 0.03 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/liquidations
      parameters:
        - name: coin
          in: path
          required: true
          schema:
            type: string
          description: Perpetual market symbol (e.g. BTC, ETH, SOL); see /coins
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type:
                      - string
                      - 'null'
                  coin:
                    type:
                      - string
                      - 'null'
                  market_symbol:
                    type:
                      - string
                      - 'null'
                  price_unit:
                    type:
                      - string
                      - 'null'
                  timestamp_iso:
                    type:
                      - string
                      - 'null'
                  model_estimate:
                    type:
                      - boolean
                      - 'null'
                  price:
                    type:
                      - number
                      - 'null'
                  liquidation_zones:
                    type: object
                    properties:
                      longs:
                        type: array
                        items:
                          type: object
                          properties:
                            price:
                              type:
                                - number
                                - 'null'
                            leverage:
                              type:
                                - string
                                - 'null'
                            estimated_liq_usd:
                              type:
                                - number
                                - 'null'
                            proximity_pct:
                              type:
                                - number
                                - 'null'
                      shorts:
                        type: array
                        items:
                          type: object
                          properties:
                            price:
                              type:
                                - number
                                - 'null'
                            leverage:
                              type:
                                - string
                                - 'null'
                            estimated_liq_usd:
                              type:
                                - number
                                - 'null'
                            proximity_pct:
                              type:
                                - number
                                - 'null'
                  summary:
                    type: object
                    properties:
                      cascade_risk:
                        type:
                          - string
                          - 'null'
                      total_oi_usd:
                        type:
                          - number
                          - 'null'
                      long_short_ratio:
                        type:
                          - string
                          - 'null'
                      total_at_risk_5pct:
                        type:
                          - number
                          - 'null'
                      nearest_cluster:
                        type: object
                        properties:
                          side:
                            type:
                              - string
                              - 'null'
                          price:
                            type:
                              - number
                              - 'null'
                          distance_pct:
                            type:
                              - number
                              - 'null'
                          estimated_volume:
                            type:
                              - number
                              - 'null'
                  meta:
                    type: object
                    properties:
                      provider:
                        type:
                          - string
                          - 'null'
                      offering:
                        type:
                          - string
                          - 'null'
                      execution_ms:
                        type:
                          - number
                          - 'null'
                      data_age_seconds:
                        type:
                          - number
                          - 'null'
                      methodology:
                        type:
                          - string
                          - 'null'
                      assumptions:
                        type: object
                        properties:
                          max_leverage:
                            type:
                              - number
                              - 'null'
                          maintenance_margin_rate:
                            type:
                              - number
                              - 'null'
                          assumed_oi_share_by_leverage:
                            type: object
                            properties:
                              3x:
                                type:
                                  - number
                                  - 'null'
                              5x:
                                type:
                                  - number
                                  - 'null'
                              10x:
                                type:
                                  - number
                                  - 'null'
                              25x:
                                type:
                                  - number
                                  - 'null'
                          entry_price:
                            type:
                              - number
                              - 'null'
                          long_short_split:
                            type:
                              - string
                              - 'null'
                      as_of:
                        type: object
                        properties:
                          market_data:
                            type:
                              - string
                              - 'null'
                          candles_1h:
                            type:
                              - string
                              - 'null'
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type:
                                - string
                                - 'null'
                            url:
                              type:
                                - string
                                - 'null'
              example:
                endpoint: liquidations
                coin: BTC
                market_symbol: BTC
                price_unit: 1 BTC
                timestamp_iso: '2026-09-24T17:05:00Z'
                model_estimate: true
                price: 84512.5
                liquidation_zones:
                  longs:
                    - price: 81670
                      leverage: 25x
                      estimated_liq_usd: 462159554
                      proximity_pct: 3.36
                    - price: 76566
                      leverage: 10x
                      estimated_liq_usd: 554491646
                      proximity_pct: 9.4
                    - price: 68059
                      leverage: 5x
                      estimated_liq_usd: 462159554
                      proximity_pct: 19.47
                  shorts:
                    - price: 86292
                      leverage: 25x
                      estimated_liq_usd: 462159554
                      proximity_pct: 2.11
                    - price: 91270
                      leverage: 10x
                      estimated_liq_usd: 554491646
                      proximity_pct: 8
                    - price: 99567
                      leverage: 5x
                      estimated_liq_usd: 462159554
                      proximity_pct: 17.81
                summary:
                  cascade_risk: MODERATE
                  total_oi_usd: 3327282606
                  long_short_ratio: '50:50'
                  total_at_risk_5pct: 924319108
                  nearest_cluster:
                    side: short
                    price: 86292
                    distance_pct: 2.11
                    estimated_volume: 462159554
                meta:
                  provider: Cerebrus Pulse
                  offering: pulse_liquidations
                  execution_ms: 0
                  data_age_seconds: 60
                  methodology: >-
                    model estimate, not observed liquidations: assumed leverage tiers and OI shares, Hyperliquid
                    maintenance margin 1/(2*maxLeverage), 24h VWAP as entry
                  assumptions:
                    max_leverage: 40
                    maintenance_margin_rate: 0.0125
                    assumed_oi_share_by_leverage:
                      3x: 0.1111
                      5x: 0.2778
                      10x: 0.3333
                      25x: 0.2778
                    entry_price: 84010
                    long_short_split: 50:50 (open interest is equal on both sides of a perp)
                  as_of:
                    market_data: '2026-09-24T17:04:00Z'
                    candles_1h: '2026-09-24T17:00:00Z'
                  sources:
                    - name: Hyperliquid
                      url: https://hyperliquid.xyz
        '400':
          description: >-
            Invalid input (bad symbol, timeframe or integer parameter), refused before any price is quoted; or the
            engine could not serve the request (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment required. x402 v2 terms are in the PAYMENT-REQUIRED header; retry with PAYMENT-SIGNATURE.
          headers:
            PAYMENT-REQUIRED:
              description: base64 x402 v2 payment terms
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Unknown coin. GET /coins lists the supported symbols.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service disabled, payment system unavailable, or the upstream data feed is missing or stale. No price is
            quoted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Analysis timed out (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-price-usd: 0.03
      x-payment-protocol: x402
  /oi/{coin}:
    get:
      summary: 'Open interest: 1h/4h/24h deltas, percentile, trend, price-OI divergence'
      description: >-
        Open interest: 1h/4h/24h deltas, percentile, trend, price-OI divergence.


        Paid endpoint: 0.015 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/oi
      parameters:
        - name: coin
          in: path
          required: true
          schema:
            type: string
          description: Perpetual market symbol (e.g. BTC, ETH, SOL); see /coins
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type:
                      - string
                      - 'null'
                  coin:
                    type:
                      - string
                      - 'null'
                  market_symbol:
                    type:
                      - string
                      - 'null'
                  price_unit:
                    type:
                      - string
                      - 'null'
                  timestamp_iso:
                    type:
                      - string
                      - 'null'
                  open_interest:
                    type: object
                    properties:
                      current:
                        type:
                          - number
                          - 'null'
                      delta_1h:
                        type:
                          - number
                          - 'null'
                      delta_4h:
                        type:
                          - number
                          - 'null'
                      delta_24h:
                        type:
                          - number
                          - 'null'
                      delta_windows_seconds:
                        type: object
                        properties:
                          1h:
                            type:
                              - number
                              - 'null'
                          4h:
                            type:
                              - number
                              - 'null'
                          24h:
                            type:
                              - number
                              - 'null'
                      history_age_seconds:
                        type:
                          - number
                          - 'null'
                      percentile:
                        type:
                          - number
                          - 'null'
                      percentile_window_hours:
                        type:
                          - number
                          - 'null'
                      trend:
                        type:
                          - string
                          - 'null'
                      price_change_4h:
                        type:
                          - number
                          - 'null'
                      price_oi_divergence:
                        type:
                          - string
                          - 'null'
                  price:
                    type:
                      - number
                      - 'null'
                  meta:
                    type: object
                    properties:
                      provider:
                        type:
                          - string
                          - 'null'
                      offering:
                        type:
                          - string
                          - 'null'
                      execution_ms:
                        type:
                          - number
                          - 'null'
                      data_age_seconds:
                        type:
                          - number
                          - 'null'
                      as_of:
                        type: object
                        properties:
                          market_data:
                            type:
                              - string
                              - 'null'
                          oi_history:
                            type:
                              - string
                              - 'null'
                          candles_1h:
                            type:
                              - string
                              - 'null'
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type:
                                - string
                                - 'null'
                            url:
                              type:
                                - string
                                - 'null'
              example:
                endpoint: oi
                coin: BTC
                market_symbol: BTC
                price_unit: 1 BTC
                timestamp_iso: '2026-09-24T17:05:00Z'
                open_interest:
                  current: 39370.3015
                  delta_1h: 0.0154
                  delta_4h: 0.0312
                  delta_24h: 0.0063
                  delta_windows_seconds:
                    1h: 3901
                    4h: 14701
                    24h: 86701
                  history_age_seconds: 1200.8
                  percentile: 88.5
                  percentile_window_hours: 25.8
                  trend: RISING
                  price_change_4h: 0.0138
                  price_oi_divergence: NONE
                price: 84512.5
                meta:
                  provider: Cerebrus Pulse
                  offering: pulse_oi
                  execution_ms: 0
                  data_age_seconds: 60
                  as_of:
                    market_data: '2026-09-24T17:04:00Z'
                    oi_history: '2026-09-24T16:45:00Z'
                    candles_1h: '2026-09-24T13:00:00Z'
                  sources:
                    - name: Hyperliquid
                      url: https://hyperliquid.xyz
        '400':
          description: >-
            Invalid input (bad symbol, timeframe or integer parameter), refused before any price is quoted; or the
            engine could not serve the request (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Payment required. x402 v2 terms are in the PAYMENT-REQUIRED header; retry with PAYMENT-SIGNATURE.
          headers:
            PAYMENT-REQUIRED:
              description: base64 x402 v2 payment terms
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Unknown coin. GET /coins lists the supported symbols.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: >-
            Service disabled, payment system unavailable, or the upstream data feed is missing or stale. No price is
            quoted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Analysis timed out (not charged).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-price-usd: 0.015
      x-payment-protocol: x402
  /pulse/{coin}:
    get:
      summary: Multi-timeframe technical analysis, derivatives snapshot, regime and confluence
      description: >-
        Multi-timeframe technical analysis, derivatives snapshot, regime and confluence.


        Paid endpoint: 0.025 USDC per call via x402 v2 (Base or Solana). Returns 402 with payment terms if unpaid.
        Reference: https://cerebruspulse.xyz/api/pulse
      parameters:
        - name: coin
          in: path
          required: true
          schema:
            type: string
          description: Perpetual market symbol (e.g. BTC, ETH, SOL); see /coins
        - name: timeframes
          in: query
          required: false
          schema:
            type: string
            default: 1h,4h
          description: Comma-separated, from 5m,15m,1h,4h,1d,1w (default 1h,4h)
      responses:
        '200':
          description: Analysis result. The settlement receipt is in the PAYMENT-RESPONSE header.
          headers:
            PAYMENT-RESPONSE:
              description: base64 x402 settlement receipt
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  coin:
                    type:
                      - string
                      - 'null'
                  market_symbol:
                    type:
                      - string
                      - 'null'
                  price_unit:
                    type:
                      - string
                      - 'null'
                  timestamp_iso:
                    type:
                      - string
                      - 'null'
                  price:
                    type: object
                    properties:
                      current:
                        type:
                          - number
                          - 'null'
                  timeframes:
                    type: object
                    properties:
                      1h:
                        type: object
                        properties:
                          indicators:
                            type: object
                            properties:
                              rsi_14:
                                type:
                                  - number
                                  - 'null'
                              rsi_zone:
                                type:
                                  - string
                                  - 'null'
                              atr_14:
                                type:
                                  - number
                                  - 'null'
                              atr_pct:
                                type:
                                  - number
                                  - 'null'
                              ema_20:
                                type:
                                  - number
                                  - 'null'
                              ema_50:
                                type:
                                  - number
                                  - 'null'
                              ema_200:
                                type:
                                  - number
                                  - 'null'
                              vwap_20:
                                type:
                                  - number
                                  - 'null'
                              zscore_100:
                                type:
                                  - number
                                  - 'null'
                              bollinger:
                                type: object
                                properties:
                                  upper:
                                    type:
                                      - number
                                      - 'null'
                                  middle:
                                    type:
                                      - number
                                      - 'null'
                                  lower:
                                    type:
                                      - number
                                      - 'null'
                                  width_pct:
                                    type:
                                      - number
                                      - 'null'
                                  position_pct:
                                    type:
                                      - number
                                      - 'null'
                              trend:
                                type: object
                                properties:
                                  direction:
                                    type:
                                      - number
                                      - 'null'
                                  label:
                                    type:
                                      - string
                                      - 'null'
                                  ema_stack:
                                    type:
                                      - string
                                      - 'null'
                          candle_freshness_seconds:
                            type:
                              - number
                              - 'null'
                          last_closed_candle_time:
                            type:
                              - string
                              - 'null'
                          stale:
                            type:
                              - boolean
                              - 'null'
                      4h:
                        type: object
                        properties:
                          indicators:
                            type: object
                            properties:
                              rsi_14:
                                type:
                                  - number
                                  - 'null'
                              rsi_zone:
                                type:
                                  - string
                                  - 'null'
                              atr_14:
                                type:
                                  - number
                                  - 'null'
                              atr_pct:
                                type:
                                  - number
                                  - 'null'
                              ema_20:
                                type:
                                  - number
                                  - 'null'
                              ema_50:
                                type:
                                  - number
                                  - 'null'
                              ema_200:
                                type:
                                  - number
                                  - 'null'
                              vwap_20:
                                type:
                                  - number
                                  - 'null'
                              zscore_100:
                                type:
                                  - number
                                  - 'null'
                              bollinger:
                                type: object
                                properties:
                                  upper:
                                    type:
                                      - number
                                      - 'null'
                                  middle:
                                    type:
                                      - number
                                      - 'null'
                                  lower:
                                    type:
                                      - number
                                      - 'null'
                                  width_pct:
                                    type:
                                      - number
                                      - 'null'
                                  position_pct:
                                    type:
[...]
